
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    font-size: 18px;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

li > a {
    text-decoration: none;
    color: #E5E7EB;
}

.first-row-picture {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding-left: 20px;
}

.first-row-picture > img {
    width: 100%;
    height: 100%;
}

.first-row {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 100px 120px;
}

.first-row-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    max-width: 100%;
}

.first-row-text-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.first-row-text-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 15px;
    border-color: transparent;
    max-width: 100px;
}

.second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 100px;
}

.second-row-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px;
}

.second-row-images {
    display: flex;
    gap: 30px;
    max-width: 100%; 
    height: auto;
}

.image {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    max-width: 300px;
    min-width: 0px;
}

.image > img {
    border: solid 3px #3882F6;
    border-radius: 6px;
}

.third-row {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px 120px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.fourth-row {
    padding: 100px;
}

.fourth-row-rectangle {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 30px 0;
    border-radius: 6px;
    color: #F9FAF8;
}

.fourth-row-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.fourth-row-text {
    font-size: 18px;
    margin-top: 0px;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-row-rectangle-button {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footer-text {
    color: #E5E7EB;
}